<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>DefaultValue</key>
		<string></string>
		<key>Key</key>
		<string>customCSS</string>
		<key>Title</key>
		<string>Custom CSS (useful to undo unwanted styles)</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string></string>
		<key>Key</key>
		<string>disabledFeatures</string>
		<key>Title</key>
		<string>Features to disable by filename (not advised)</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>false</string>
		<key>Key</key>
		<string>logging</string>
		<key>Title</key>
		<string>Show the features enabled on each page in the console</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
</array>
</plist>
